# Security
SECRET_KEY=''
OXAPAY_API_KEY=''

# Database (Format: mysql+pymysql://USER:PASSWORD@localhost/DB_NAME)
DATABASE_URL=''

# URLs
PUBLIC_BASE_URL=https://api.daze-t.com
FRONTEND_URL=https://daze-t.com

# Telegram (Comma separated IDs for multiple admins)
TELEGRAM_BOT_TOKEN=''
TELEGRAM_CHAT_IDS='id1, id2'

# Config
PORT=8080